@model Pii.Areas.Accounts.Models.ChangePassword
@{
    ViewBag.Title = "Change Password";
    ViewBag.menuid = "change-password";
}
<div class="pages change_password">
    <h1>Change password</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.OldPassword)
            @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.NewPassword)
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <input type="submit" value="Update" class="buttons" />
    }
</div>
